
  .LandingPage {   
    align-content: flex-end;
  background: url('https://i.pinimg.com/originals/e1/07/7a/e1077a7c10ba1f0665d0073c23e6f8ba.jpg');
  width: 100vw;
  height: 50vw; 
  background-repeat: no-repeat; 
  background-size: cover;
  }
  

  .letras {
    align-items: center;   
    display: left;     
    border-top-left-radius: 30px;       
    height:10vh;
    font-family: 'Roboto', sans-serif;
    font-size: 65px;
    color: #024d64;    
  }
  #button {
    border-radius: 20%;
    background-color: #1666a7b4;
    padding: 1.2rem 1.4rem;
    color: #f8f8f8c0;
    border-radius: 4.9rem;
    border: none;
    font-weight: 800;
    cursor: pointer;
    font-size: 1.3rem;
    text-transform: uppercase;
    transition: all 0.3s;
    justify-content: left;   
    text-decoration: none;
  }
  #button:hover {  
    background-color: #094a80;
    transition: 0.8s;
    
    transform: scale(1.1);
  }